In [1]:
!apt-get install -y sqlite3

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 32 not upgraded.
Need to get 768 kB of archives.
After this operation, 1,873 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sqlite3 amd64 3.37.2-2ubuntu0.3 [768 kB]
Fetched 768 kB in 1s (968 kB/s)
Selecting previously unselected package sqlite3.
(Reading database ... 121749 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.37.2-2ubuntu0.3_amd64.deb ...
Unpacking sqlite3 (3.37.2-2ubuntu0.3) ...
Setting up sqlite3 (3.37.2-2ubuntu0.3) ...
Processing triggers for man-db (2.10.2-1) ...

**Views in SQL**

It is a virtual table based on the result set of an SQL query.In this we can get any number of rows and columns.so in short it gives us separate column and row detail from a huge amount of data.

In [2]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Create customer_info table
cursor.execute('''
    CREATE TABLE customer_info (
        id INTEGER PRIMARY KEY NOT NULL,
        name TEXT NOT NULL,
        age INTEGER DEFAULT 18 CHECK (age >= 0)
    )
''')

# Create customer_orders table
cursor.execute('''
    CREATE TABLE customer_orders (
        order_id INTEGER PRIMARY KEY NOT NULL,
        customer_id INTEGER,
        order_date DATE,
        FOREIGN KEY (customer_id) REFERENCES customer_info(id)
    )
''')

# Insert sample data into customer_info table
cursor.execute('''
    INSERT INTO customer_info (name, age) VALUES
    ('John Doe', 30),
    ('Jane Smith', 25),
    ('Michael Johnson', 40)
''')

# Insert sample data into customer_orders table
cursor.execute('''
    INSERT INTO customer_orders (customer_id, order_date) VALUES
    (1, '2024-01-15'),
    (2, '2024-01-20'),
    (3, '2024-01-25')
''')

# Commit changes to the database
conn.commit()

# Define and create the view
cursor.execute('''
    CREATE VIEW customer_orders_view AS
    SELECT c.name, o.order_date
    FROM customer_info c
    JOIN customer_orders o ON c.id = o.customer_id
''')

# Query the view
cursor.execute('SELECT * FROM customer_orders_view') # here customer_orders_view is a virtual table
rows = cursor.fetchall()

# Display the retrieved data
for row in rows:
    print(row)

# Close the connection
conn.close()

('John Doe', '2024-01-15')
('Jane Smith', '2024-01-20')
('Michael Johnson', '2024-01-25')

**Which Queries we can write in view and which not?**

Here are some examples of queries you can write in a view:

1. Basic SELECT Queries: You can select specific columns or all columns from the underlying tables.

SELECT column1, column2 FROM view_name;
SELECT * FROM view_name;

2. Filtering Data: You can filter the data returned by the view using WHERE clause.

SELECT * FROM view_name WHERE condition;

3. Joining Tables: You can perform joins with other tables in the view.

SELECT * FROM view_name JOIN other_table ON view_name.column = other_table.column;

4. Aggregations: You can perform aggregations like SUM, COUNT, AVG, etc., in the view.

SELECT column1, COUNT(column2) FROM view_name GROUP BY column1;

there are certain types of queries that you cannot directly write in a view.

1. Queries with ORDER BY
2. Queries with LIMIT or OFFSET
3. Queries with Recursive Common Table Expressions (CTEs)
4. Queries with Non-Deterministic Functions: Views often cannot contain non-deterministic functions like RAND(), GETDATE(), or other functions that can return different values each time they are called. This is because views are expected to return consistent results for the same query.
5. Queries with Temporary Tables or Table Variables: Views usually cannot reference temporary tables or table variables because views are stored definitions and not actual data.
6. Queries with Certain Types of Joins or Subqueries
7. Queries with DDL (Data Definition Language) Statements: Views cannot contain DDL statements like CREATE, ALTER, or DROP because they are used to define the structure of the data, not manipulate it.