In [1]:
!apt-get install -y sqlite3

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 33 not upgraded.
Need to get 768 kB of archives.
After this operation, 1,873 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sqlite3 amd64 3.37.2-2ubuntu0.3 [768 kB]
Fetched 768 kB in 1s (1,382 kB/s)
Selecting previously unselected package sqlite3.
(Reading database ... 121749 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.37.2-2ubuntu0.3_amd64.deb ...
Unpacking sqlite3 (3.37.2-2ubuntu0.3) ...
Setting up sqlite3 (3.37.2-2ubuntu0.3) ...
Processing triggers for man-db (2.10.2-1) ...

In [2]:
import sqlite3

# Connect to a SQLite database (it will be created if it doesn't exist)
conn = sqlite3.connect('company_records.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Creating a table with auto-increment ID means assign them as a primary key
cursor.execute('''
    CREATE TABLE employee_info(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        designation TEXT NOT NULL,
        age INTEGER,
        bonus REAL
    )''')

# Commit changes and close the connection
conn.commit()
conn.close()

In [3]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('company_records.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Inserting 5 records into the employee_info table
employee_records = [
    ('John Doe', 'Manager', 35, 5000.0),
    ('Jane Smith', 'Engineer', 28, 3000.0),
    ('Michael Johnson', 'Analyst', 32, 4000.0),
    ('Emily Brown', 'Developer', 26, 3500.0),
    ('David Wilson', 'Designer', 30, 3200.0)
]

# Inserting each record into the table
cursor.executemany('''
    INSERT INTO employee_info (name, designation, age, bonus)
    VALUES (?, ?, ?, ?)
''', employee_records)

# Commit changes
conn.commit()

# Close the connection
conn.close()

**Write a query to retrieve all the details where first name from employee table which starts with 'D'**

In [4]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('company_records.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute the SQL query to retrieve employee details where first name starts with 'D'
cursor.execute("SELECT * FROM employee_info WHERE name LIKE 'D%'")

# Fetch all the results
results = cursor.fetchall()

# Print the header
print("ID\tName\t\tDesignation\tAge\tBonus")
print("-" * 50)

# Print the results
for row in results:
    print(f"{row[0]}\t{row[1]}\t{row[2]}\t\t{row[3]}\t{row[4]}")

# Close the connection
conn.close()

ID	Name		Designation	Age	Bonus
--------------------------------------------------
5	David Wilson	Designer		30	3200.0

**Write a query to print all the details of the employee whose bonus between 4000 to 5000**

In [5]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('company_records.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute the SQL query to retrieve employee details with bonus between 4000 and 5000
cursor.execute("SELECT * FROM employee_info WHERE bonus BETWEEN 4000 AND 5000")

# Fetch all the results
results = cursor.fetchall()

# Print the header
print("ID\tName\t\tDesignation\tAge\tBonus")
print("-" * 50)

# Print the results
for row in results:
    print(f"{row[0]}\t{row[1]}\t{row[2]}\t\t{row[3]}\t{row[4]}")

# Close the connection
conn.close()

ID	Name		Designation	Age	Bonus
--------------------------------------------------
1	John Doe	Manager		35	5000.0
3	Michael Johnson	Analyst		32	4000.0

**Write a query to retrieve all the details where name from employee table which ends with 'N'**

In [6]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('company_records.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute the SQL query to retrieve employee details where name ends with 'N'
cursor.execute("SELECT * FROM employee_info WHERE name LIKE '%N'")

# Fetch all the results
results = cursor.fetchall()

# Print the header
print("ID\tName\t\tDesignation\tAge\tBonus")
print("-" * 50)

# Print the results
for row in results:
    print(f"{row[0]}\t{row[1]}\t{row[2]}\t\t{row[3]}\t{row[4]}")

# Close the connection
conn.close()

ID	Name		Designation	Age	Bonus
--------------------------------------------------
3	Michael Johnson	Analyst		32	4000.0
4	Emily Brown	Developer		26	3500.0
5	David Wilson	Designer		30	3200.0

**Write a SQL Query to fetch number of employees in every department**

In [7]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('company_records.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute the SQL query to fetch the number of employees in every department
cursor.execute('''
    SELECT designation, COUNT(*) AS num_employees
    FROM employee_info
    GROUP BY designation
''')

# Fetch all the results
results = cursor.fetchall()

# Print the header
print("Designation\t\tNumber of Employees")
print("-" * 35)

# Print the results
for row in results:
    print(f"{row[0]}\t\t\t{row[1]}")

# Close the connection
conn.close()

Designation		Number of Employees
-----------------------------------
Analyst			1
Designer			1
Developer			1
Engineer			1
Manager			1

**Write a SQL Query to clone a new table from another table**

In [8]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('company_records.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute the SQL query to clone a new table from the employee_info table
cursor.execute('''
    CREATE TABLE employee_info_clone AS
    SELECT * FROM employee_info
''')

# Commit the transaction
conn.commit()

# Close the connection
conn.close()

print("New table 'employee_info_clone' created successfully!")

New table 'employee_info_clone' created successfully!

**Write a SQL Query with that fetch out the employees who have highest salary**

In [9]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('company_records.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute the SQL query to fetch the employee(s) with the highest bonus
cursor.execute('''
    SELECT *
    FROM employee_info
    WHERE bonus = (SELECT MAX(bonus) FROM employee_info)
''')

# Fetch all the results
results = cursor.fetchall()

# Print the header
print("ID\tName\t\tDesignation\tAge\tBonus")
print("-" * 50)

# Print the results
for row in results:
    print(f"{row[0]}\t{row[1]}\t{row[2]}\t\t{row[3]}\t{row[4]}")

# Close the connection
conn.close()

ID	Name		Designation	Age	Bonus
--------------------------------------------------
1	John Doe	Manager		35	5000.0

**Write a SQL Query to determine 4th highest bonus**

In [10]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('company_records.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute the SQL query to determine the 4th highest bonus
cursor.execute('''
    SELECT bonus
    FROM employee_info
    ORDER BY bonus DESC
    LIMIT 1 OFFSET 3
''')

# Fetch the result
result = cursor.fetchone()

# Print the result
print("4th Highest Bonus:", result[0])

# Close the connection
conn.close()

4th Highest Bonus: 3200.0

**Write a SQL Query to find out 5th highest bonus without using LIMIT**

In [11]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('company_records.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Define the SQL query to find the 5th highest bonus
sql_query = '''
    WITH RankedBonuses AS (
        SELECT
            bonus,
            ROW_NUMBER() OVER (ORDER BY bonus DESC) AS row_num
        FROM
            employee_info
    )
    SELECT
        bonus
    FROM
        RankedBonuses
    WHERE
        row_num = 5;
'''

# Execute the SQL query
cursor.execute(sql_query)

# Fetch the result
result = cursor.fetchone()

# Print the result
print("5th Highest Bonus:", result[0] if result else "No data found")

# Close the connection
conn.close()

5th Highest Bonus: 3000.0

# Clauses in SQL



**LIMIT**: This clause limits the number of rows returned by a query. It allows you to specify a maximum number of rows to return. For example, LIMIT 5 will return only the first 5 rows of the result set.

**OFFSET**: This clause specifies the number of rows to skip before starting to return rows. It allows you to specify a starting point within the result set. For example, OFFSET 5 will skip the first 5 rows of the result set and start returning rows from the 6th row onwards.

**SELECT Clause**: Used to specify the columns that you want to retrieve from a table. It is the most commonly used clause in SQL queries.

**FROM Clause**: Specifies the table or tables from which to retrieve data.

**WHERE Clause**: Filters rows based on specified conditions.

**GROUP BY Clause**: Groups rows that have the same values into summary rows, typically used with aggregate functions like COUNT, SUM, AVG, etc.

**HAVING Clause**: Used with the GROUP BY clause to filter groups based on specified conditions.

**ORDER BY Clause**: Specifies the sort order of the result set.

**LIMIT Clause**: Limits the number of rows returned by a query.

**OFFSET Clause**: Specifies the number of rows to skip before starting to return rows.

**JOIN Clause**: Combines rows from two or more tables based on a related column between them.

**INNER JOIN Clause**: Returns only the rows that have matching values in both tables.

**LEFT JOIN (or LEFT OUTER JOIN) Clause**: Returns all rows from the left table and the matched rows from the right table, with NULL values in the right table if there's no match.

**RIGHT JOIN (or RIGHT OUTER JOIN) Clause**: Returns all rows from the right table and the matched rows from the left table, with NULL values in the left table if there's no match.

**FULL JOIN (or FULL OUTER JOIN) Clause**: Returns all rows when there is a match in either table. This is a combination of the left and right joins.

**UNION Clause**: Combines the results of two or more SELECT statements into a single result set.