**SQL Database Creation,Table Creation,Inserting values in the table and droping the table and the database**

In [6]:
!apt-get install -y sqlite3

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
sqlite3 is already the newest version (3.37.2-2ubuntu0.3).
0 upgraded, 0 newly installed, 0 to remove and 32 not upgraded.

In [12]:
import sqlite3

# Connect to a SQLite database (it will be created if it doesn't exist)
conn = sqlite3.connect('customers_record.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Creating a table with auto-increment ID means assign them as a primary key so that I do not need to provide their values in table again and again.
cursor.execute('''
    CREATE TABLE customer_info(
        id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER
    )''')

# Commit changes and close the connection
conn.commit()
conn.close()

In [13]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Insert data into the table
cursor.execute("INSERT INTO customer_info (name, age) VALUES ('Akarsh', 24)")
cursor.execute("INSERT INTO customer_info (name, age) VALUES ('John Doe', 25)")

# Commit changes
conn.commit()

# Close the connection
conn.close()

In [14]:
# Connect to the database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Execute a SELECT query
cursor.execute('SELECT * FROM customer_info')

# Fetch all rows
rows = cursor.fetchall()

# Display the retrieved data
for row in rows:
    print(row)

# Close the connection
conn.close()
# so because of the id as a primary we automatically got values with sequential id numbers.

(1, 'Akarsh', 24)
(2, 'John Doe', 25)

In [ ]:
import os

# Connect to the database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Drop the table
cursor.execute('DROP TABLE IF EXISTS customer_info')

# Commit changes
conn.commit()

# Close the connection
conn.close()

# Delete the database file
if os.path.exists('customers.db'):
    os.remove('customers.db')
    print("Database file deleted.")
else:
    print("Database file not found.")

Database file deleted.

**SQL NULL Values,Update,delete,alter**

In [15]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Insert data into the table
# Using NULL
cursor.execute("INSERT INTO customer_info (name, age) VALUES ('Akarsh', 24)")
cursor.execute("INSERT INTO customer_info (name, age) VALUES ('John Doe', 25)")
cursor.execute("INSERT INTO customer_info (name, age) VALUES ('Binod', NULL)")

# Commit changes
conn.commit()

# Close the connection
conn.close()

In [16]:
# Connect to the database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Execute a SELECT query
cursor.execute('SELECT * FROM customer_info')

# Fetch all rows
rows = cursor.fetchall()

# Display the retrieved data
for row in rows:
    print(row)

# Close the connection
conn.close()

(1, 'Akarsh', 24)
(2, 'John Doe', 25)
(3, 'Akarsh', 24)
(4, 'John Doe', 25)
(5, 'Binod', None)

In [17]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Execute a SELECT query with a WHERE clause to filter rows where age is null
cursor.execute('SELECT * FROM customer_info WHERE age IS NULL')

# Fetch all rows
rows = cursor.fetchall()

# Display the retrieved data
for row in rows:
    print(row)

# Close the connection
conn.close()

(5, 'Binod', None)

In [18]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Execute a SELECT query with a WHERE clause to filter rows where age is not null
cursor.execute('SELECT * FROM customer_info WHERE age IS NOT NULL')

# Fetch all rows
rows = cursor.fetchall()

# Display the retrieved data
for row in rows:
    print(row)

# Close the connection
conn.close()

(1, 'Akarsh', 24)
(2, 'John Doe', 25)
(3, 'Akarsh', 24)
(4, 'John Doe', 25)

In [19]:
# SQL Update statement for replace the null values

In [20]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Update rows where age is null to a specific value (for example, 0)
cursor.execute("UPDATE customer_info SET age = 34 WHERE age IS NULL")

# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [21]:
# Connect to the database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Execute a SELECT query
cursor.execute('SELECT * FROM customer_info')

# Fetch all rows
rows = cursor.fetchall()

# Display the retrieved data
for row in rows:
    print(row)

# Close the connection
conn.close()
# so now in the output my null value is removed by 34

(1, 'Akarsh', 24)
(2, 'John Doe', 25)
(3, 'Akarsh', 24)
(4, 'John Doe', 25)
(5, 'Binod', 34)

In [22]:
# SQL DELETE Statement

In [23]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Delete rows where the name is 'Akarsh'
cursor.execute("DELETE FROM customer_info WHERE name = 'Akarsh'")

# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [24]:
# Connect to the database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Execute a SELECT query
cursor.execute('SELECT * FROM customer_info')

# Fetch all rows
rows = cursor.fetchall()

# Display the retrieved data
for row in rows:
    print(row)

# Close the connection
conn.close()
# so now in the output my Akarsh data is deleted.

(2, 'John Doe', 25)
(4, 'John Doe', 25)
(5, 'Binod', 34)

In [25]:
# SQL ALTER Statement

In [30]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Add columns to the existing table
cursor.execute("ALTER TABLE customer_info ADD COLUMN address VARCHAR")
cursor.execute("ALTER TABLE customer_info ADD COLUMN home_number INTEGER")

# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [31]:
# Connect to the database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Execute a SELECT query
cursor.execute('SELECT * FROM customer_info')

# Fetch all rows
rows = cursor.fetchall()

# Display the retrieved data
for row in rows:
    print(row)

# Close the connection
conn.close()
# so now in the output my Akarsh data is deleted.

(2, 'John Doe', 25, None, None, None, None, None)
(4, 'John Doe', 25, None, None, None, None, None)
(5, 'Binod', 34, None, None, None, None, None)

In [32]:
# SQL Modify Statement for converting one column datatype to another

In [33]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Modify the datatype of the age column
cursor.execute("PRAGMA foreign_keys=off")
cursor.execute("BEGIN TRANSACTION")
cursor.execute("ALTER TABLE customer_info RENAME TO customer_info_old")
cursor.execute('''
    CREATE TABLE customer_info (
        id INTEGER PRIMARY KEY,
        name TEXT,
        age TEXT,  -- Modify datatype here
        email TEXT,
        phone TEXT
    )
''')
cursor.execute("INSERT INTO customer_info (id, name, age, email, phone) SELECT id, name, age, email, phone FROM customer_info_old")
cursor.execute("DROP TABLE customer_info_old")
cursor.execute("COMMIT")
cursor.execute("PRAGMA foreign_keys=on")

# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [34]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('customers_record.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Get the schema of the customer_info table
cursor.execute("PRAGMA table_info(customer_info)")
schema_info = cursor.fetchall()

# Display the schema information
print("Column Name, Type, Not Null, Default Value, Primary Key")
for column in schema_info:
    print(column)

# Close the connection
conn.close()

Column Name, Type, Not Null, Default Value, Primary Key
(0, 'id', 'INTEGER', 0, None, 1)
(1, 'name', 'TEXT', 0, None, 0)
(2, 'age', 'TEXT', 0, None, 0)
(3, 'email', 'TEXT', 0, None, 0)
(4, 'phone', 'TEXT', 0, None, 0)