In [1]:
!apt-get install -y sqlite3

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 32 not upgraded.
Need to get 768 kB of archives.
After this operation, 1,873 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sqlite3 amd64 3.37.2-2ubuntu0.3 [768 kB]
Fetched 768 kB in 0s (6,290 kB/s)
Selecting previously unselected package sqlite3.
(Reading database ... 121747 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.37.2-2ubuntu0.3_amd64.deb ...
Unpacking sqlite3 (3.37.2-2ubuntu0.3) ...
Setting up sqlite3 (3.37.2-2ubuntu0.3) ...
Processing triggers for man-db (2.10.2-1) ...

**SQL NOT NULL Constraint**

In [2]:
import sqlite3

# Connect to a SQLite database (it will be created if it doesn't exist)
conn = sqlite3.connect('students.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Creating a table with auto-increment ID means assign them as a primary key so that I do not need to provide their values in table again and again.
cursor.execute('''
    CREATE TABLE student_info(
        id INTEGER NOT NULL,
        name TEXT NOT NULL,
        age INTEGER
    )''')

# Commit changes and close the connection
conn.commit()
conn.close()

In [3]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('students.db')
cursor = conn.cursor()

# Insert data into the table
cursor.execute("INSERT INTO student_info (id,name, age) VALUES (1,'Akarsh', 24)")
cursor.execute("INSERT INTO student_info (id,name, age) VALUES (2,'John Doe', 25)")

# Commit changes
conn.commit()

# Close the connection
conn.close()

In [4]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('students.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Get the schema of the student_info table
cursor.execute("PRAGMA table_info(student_info)")
schema_info = cursor.fetchall()

# Display the schema information
print("Column Name, Type, Not Null, Default Value, Primary Key")
for column in schema_info:
    print(column)

# Close the connection
conn.close()

Column Name, Type, Not Null, Default Value, Primary Key
(0, 'id', 'INTEGER', 1, None, 1)
(1, 'name', 'TEXT', 1, None, 0)
(2, 'age', 'INTEGER', 0, None, 0)

**SQL Unique Constraint Statement**

In [7]:
import sqlite3

# Connect to a SQLite database (it will be created if it doesn't exist)
conn = sqlite3.connect('person_1.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Creating a table with auto-increment ID means assign them as a primary key so that I do not need to provide their values in table again and again.
cursor.execute('''
    CREATE TABLE person_1_info(
        id INTEGER NOT NULL,
        name TEXT NOT NULL,
        age INTEGER NOT NULL,
        UNIQUE(id) # It means you can place only 1 record on a specific id
    )''')

# Commit changes and close the connection
conn.commit()
conn.close()

In [9]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('person_1.db')
cursor = conn.cursor()

# Insert data into the table
cursor.execute("INSERT INTO person_1_info VALUES (1,'Akarsh', 24)")
cursor.execute("INSERT INTO person_1_info VALUES (2,'John Doe', 25)")

# Commit changes
conn.commit()

# Close the connection
conn.close()

In [10]:
# Connect to the database
conn = sqlite3.connect('person_1.db')
cursor = conn.cursor()

# Execute a SELECT query
cursor.execute('SELECT * FROM person_1_info')

# Fetch all rows
rows = cursor.fetchall()

# Display the retrieved data
for row in rows:
    print(row)

# Close the connection
conn.close()
# so now in the output my Akarsh data is deleted.

(1, 'Akarsh', 24)
(2, 'John Doe', 25)

**Drop UNIQUE Constraint**

In [16]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('person_1.db')
cursor = conn.cursor()

# Step 1: Create a new table without the id column
cursor.execute('''
    CREATE TABLE person_1_info_new(
        name TEXT NOT NULL,
        age INTEGER NOT NULL,
        UNIQUE(name) -- Unique constraint on name
    )''')

# Step 2: Copy data from the old table to the new one
cursor.execute('''
    INSERT INTO person_1_info_new (name, age)
    SELECT name, age FROM person_1_info
''')

# Step 3: Drop the old table
cursor.execute('DROP TABLE person_1_info')

# Step 4: Rename the new table to the old one
cursor.execute('ALTER TABLE person_1_info_new RENAME TO person_1_info')

# Commit changes and close the connection
conn.commit()
conn.close()

In [17]:
# Connect to the database
conn = sqlite3.connect('person_1.db')
cursor = conn.cursor()

# Execute a SELECT query
cursor.execute('SELECT * FROM person_1_info')

# Fetch all rows
rows = cursor.fetchall()

# Display the retrieved data
for row in rows:
    print(row)

# Close the connection
conn.close()

('Akarsh', 24)
('John Doe', 25)