In [1]:
!apt-get install -y sqlite3

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
sqlite3 is already the newest version (3.37.2-2ubuntu0.3).
0 upgraded, 0 newly installed, 0 to remove and 32 not upgraded.

**SQL Joins**

In [2]:
import sqlite3

# Connect to the SQLite database (creates it if it doesn't exist)
conn = sqlite3.connect('customers_record.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Creating the customer_info table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS customer_info(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER
    )''')

# Commit changes and close the connection
conn.commit()
conn.close()

In [3]:
# Connect again to the SQLite database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Creating the purchases table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS purchases(
        purchase_id INTEGER PRIMARY KEY AUTOINCREMENT,
        customer_id INTEGER,
        product_name TEXT
    )''')

# Commit changes and close the connection
conn.commit()
conn.close()

In [4]:
# Connect again to the SQLite database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Inserting data into customer_info table
cursor.execute("INSERT INTO customer_info (name, age) VALUES ('Alice', 30)")
cursor.execute("INSERT INTO customer_info (name, age) VALUES ('Bob', 25)")
cursor.execute("INSERT INTO customer_info (name, age) VALUES ('Charlie', 35)")

# Inserting data into purchases table
cursor.execute("INSERT INTO purchases (customer_id, product_name) VALUES (1, 'Phone')")
cursor.execute("INSERT INTO purchases (customer_id, product_name) VALUES (2, 'Laptop')")
cursor.execute("INSERT INTO purchases (customer_id, product_name) VALUES (3, 'Tablet')")

# Commit changes and close the connection
conn.commit()
conn.close()

In [5]:
# Connect again to the SQLite database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Inner Join
# An inner join returns only the rows where there is a match in both tables based on the join condition.
# In our example, it returns a list of customers along with their purchases where there is a match between
# the customer IDs in the customer_info table and the customer_id column in the purchases table.
cursor.execute('''
    SELECT customer_info.name, customer_info.age, purchases.product_name
    FROM customer_info
    INNER JOIN purchases ON customer_info.id = purchases.customer_id
''')
print("Inner Join Results:")
print(cursor.fetchall())

# Left Join
# A left join returns all rows from the left table (customer_info), and the matched rows from the right table
# (purchases). If there is no match, it returns NULL values for the columns from the right table.
# In our example, it returns a list of all customers along with their purchases.
# If a customer hasn't made any purchases, their details will still be listed, with NULL values
# for the purchase details.
cursor.execute('''
    SELECT customer_info.name, customer_info.age, purchases.product_name
    FROM customer_info
    LEFT JOIN purchases ON customer_info.id = purchases.customer_id
''')
print("\nLeft Join Results:")
print(cursor.fetchall())

Inner Join Results:
[('Alice', 30, 'Phone'), ('Bob', 25, 'Laptop'), ('Charlie', 35, 'Tablet'), ('Alice', 30, 'Phone'), ('Bob', 25, 'Laptop'), ('Charlie', 35, 'Tablet')]

Left Join Results:
[('Alice', 30, 'Phone'), ('Alice', 30, 'Phone'), ('Bob', 25, 'Laptop'), ('Bob', 25, 'Laptop'), ('Charlie', 35, 'Tablet'), ('Charlie', 35, 'Tablet'), ('Alice', 30, None), ('Bob', 25, None), ('Charlie', 35, None)]

In [6]:
# Connect again to the SQLite database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Left Join (equivalent to Right Join by rearranging tables)
# A right join returns all rows from the right table (purchases), and the matched rows from the left table
# (customer_info). If there is no match, it returns NULL values for the columns from the left table.
# In our example, we simulate the right join behavior by rearranging the tables in the left join query.
# It would return a list of all purchases along with the customer details. If a purchase doesn't have a
# corresponding customer, it will still be listed with NULL values for the customer details.
cursor.execute('''
    SELECT customer_info.name, customer_info.age, purchases.product_name
    FROM purchases
    LEFT JOIN customer_info ON purchases.customer_id = customer_info.id
''')
print("\nRight Join Results:")
print(cursor.fetchall())

# Full Join (equivalent to combining Left Join and Union)
# A full join returns all rows when there is a match in either the left table or the right table.
# In our example, we simulate the full join behavior by combining the results of left join and right join
# using UNION. It returns a combination of all customers with their purchases and all purchases with their
# associated customers. If a customer hasn't made any purchases or a purchase doesn't
# have an associated customer, they will still be listed with NULL values for the respective details.
cursor.execute('''
    SELECT customer_info.name, customer_info.age, purchases.product_name
    FROM customer_info
    LEFT JOIN purchases ON customer_info.id = purchases.customer_id
UNION
    SELECT customer_info.name, customer_info.age, purchases.product_name
    FROM purchases
    LEFT JOIN customer_info ON purchases.customer_id = customer_info.id
''')
print("\nFull Join Results:")
print(cursor.fetchall())

# Close the connection
conn.close()

Right Join Results:
[('Alice', 30, 'Phone'), ('Bob', 25, 'Laptop'), ('Charlie', 35, 'Tablet'), ('Alice', 30, 'Phone'), ('Bob', 25, 'Laptop'), ('Charlie', 35, 'Tablet')]

Full Join Results:
[('Alice', 30, None), ('Alice', 30, 'Phone'), ('Bob', 25, None), ('Bob', 25, 'Laptop'), ('Charlie', 35, None), ('Charlie', 35, 'Tablet')]

In [7]:
# Connect again to the SQLite database
conn = sqlite3.connect('customers_record.db')
cursor = conn.cursor()

# Natural Join
# A natural join returns all rows from both tables where the values of one or more columns in one table match
# the values of one or more columns in the other table.
# In our example, it returns a list of customers along with their purchases where there is a match based on the
# columns with the same name in both tables. For example, if both tables have a column named id, the natural join
# will match rows where the id values are equal.
cursor.execute('''
    SELECT customer_info.name, customer_info.age, purchases.product_name
    FROM customer_info
    NATURAL JOIN purchases
''')
print("\nNatural Join Results:")
print(cursor.fetchall())

# Cross Join
# A cross join returns the Cartesian product of the sets of rows from the joined tables. In other words,
# it returns all possible combinations of rows from both tables.
# In our example, it returns a combination of all customers with all purchases, regardless of any matching
# conditions. This results in every customer being paired with every purchase, creating a large result set with
# every possible combination of customer and purchase.


cursor.execute('''
    SELECT customer_info.name, customer_info.age, purchases.product_name
    FROM customer_info
    CROSS JOIN purchases
''')
print("\nCross Join Results:")
print(cursor.fetchall())

# Close the connection
conn.close()

Natural Join Results:
[('Alice', 30, 'Phone'), ('Alice', 30, 'Laptop'), ('Alice', 30, 'Tablet'), ('Alice', 30, 'Phone'), ('Alice', 30, 'Laptop'), ('Alice', 30, 'Tablet'), ('Bob', 25, 'Phone'), ('Bob', 25, 'Laptop'), ('Bob', 25, 'Tablet'), ('Bob', 25, 'Phone'), ('Bob', 25, 'Laptop'), ('Bob', 25, 'Tablet'), ('Charlie', 35, 'Phone'), ('Charlie', 35, 'Laptop'), ('Charlie', 35, 'Tablet'), ('Charlie', 35, 'Phone'), ('Charlie', 35, 'Laptop'), ('Charlie', 35, 'Tablet'), ('Alice', 30, 'Phone'), ('Alice', 30, 'Laptop'), ('Alice', 30, 'Tablet'), ('Alice', 30, 'Phone'), ('Alice', 30, 'Laptop'), ('Alice', 30, 'Tablet'), ('Bob', 25, 'Phone'), ('Bob', 25, 'Laptop'), ('Bob', 25, 'Tablet'), ('Bob', 25, 'Phone'), ('Bob', 25, 'Laptop'), ('Bob', 25, 'Tablet'), ('Charlie', 35, 'Phone'), ('Charlie', 35, 'Laptop'), ('Charlie', 35, 'Tablet'), ('Charlie', 35, 'Phone'), ('Charlie', 35, 'Laptop'), ('Charlie', 35, 'Tablet')]

Cross Join Results:
[('Alice', 30, 'Phone'), ('Alice', 30, 'Laptop'), ('Alice', 30, 'Tablet'), ('Alice', 30, 'Phone'), ('Alice', 30, 'Laptop'), ('Alice', 30, 'Tablet'), ('Bob', 25, 'Phone'), ('Bob', 25, 'Laptop'), ('Bob', 25, 'Tablet'), ('Bob', 25, 'Phone'), ('Bob', 25, 'Laptop'), ('Bob', 25, 'Tablet'), ('Charlie', 35, 'Phone'), ('Charlie', 35, 'Laptop'), ('Charlie', 35, 'Tablet'), ('Charlie', 35, 'Phone'), ('Charlie', 35, 'Laptop'), ('Charlie', 35, 'Tablet'), ('Alice', 30, 'Phone'), ('Alice', 30, 'Laptop'), ('Alice', 30, 'Tablet'), ('Alice', 30, 'Phone'), ('Alice', 30, 'Laptop'), ('Alice', 30, 'Tablet'), ('Bob', 25, 'Phone'), ('Bob', 25, 'Laptop'), ('Bob', 25, 'Tablet'), ('Bob', 25, 'Phone'), ('Bob', 25, 'Laptop'), ('Bob', 25, 'Tablet'), ('Charlie', 35, 'Phone'), ('Charlie', 35, 'Laptop'), ('Charlie', 35, 'Tablet'), ('Charlie', 35, 'Phone'), ('Charlie', 35, 'Laptop'), ('Charlie', 35, 'Tablet')]